* {
 box-sizing: border-box;
}

body {
}

$mass-size: 120px;
$cube-size: 64px;

.board-container {
  display: grid;
  grid-template-rows: $mass-size $mass-size $mass-size $mass-size $mass-size $mass-size;
  grid-template-columns: $mass-size $mass-size $mass-size $mass-size $mass-size;
}

.mass-container {
  border: 1px solid #000;
  padding: ($mass-size - ($cube-size + 12 + 12)) / 2;
}

.cube-wrapper {
   position: relative;
}

.cube {
  border: 1px solid #888;
  position: absolute;

  &--z-first {
    cursor: grab;
    z-index: 300;
    top: 0;
    left: 0;
    width: $cube-size;
    height: $cube-size;
  }
  &--z-second {
    z-index: 200;
    top: 12px;
    left: 12px;
    width: $cube-size;
    height: $cube-size;
  }

  &--z-third {
    z-index: 100;
    top: 12px + 12px;
    left: 12px + 12px;
    width: $cube-size;
    height: $cube-size;
  }

  &--black {
    background: black;
  }
  &--white {
    background: white;
  }
}